<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/style.css">
    <title>GP-Explorer</title>
</head>
<body>
    <header>
        <nav>
            <a href="#"><img src="/img/logo_gp.png" alt=""></a></li>
            <ul>
                <li><a href="#">écuries</a></li>
                <li><a href="#">programme</a></li>
                <li><a href="#">billetterie</a></li>
                <li><a href="#">services</a></li>
                <li><a href="#">infos</a></li>
                <li><a href="#">shop</a></li>
                <li><a href="#">mon compte</a></li>
            </ul>
        </nav>
    </header>
    <section></section>
    <section></section>
    <section>
        <h1>Nos partenaires</h1>
        <div class="slider">
            <div class="slider-items">
                <img src="https://www.zarla.com/images/nike-logo-2400x2400-20220504.png?crop=1:1,smart&width=150&dpr=2"
                    alt="">
                <img src="https://www.zarla.com/images/apple-logo-2400x2400-20220512-1.png?crop=1:1,smart&width=150&dpr=2"
                    alt="">
                <img src="https://www.svgrepo.com/show/303123/bmw-logo.svg" alt="">
                <img src="https://www.officialveganshop.com/22004-large_default/kombucha-fruits-rouges-ciao-kombucha.jpg" alt="">
                <img src="https://www.zarla.com/images/nike-logo-2400x2400-20220504.png?crop=1:1,smart&width=150&dpr=2"
                    alt="">
                <img src="https://www.zarla.com/images/apple-logo-2400x2400-20220512-1.png?crop=1:1,smart&width=150&dpr=2"
                    alt="">
                <img src="https://www.svgrepo.com/show/303123/bmw-logo.svg" alt="">
                <img src="https://www.officialveganshop.com/22004-large_default/kombucha-fruits-rouges-ciao-kombucha.jpg" alt="">
                <img src="https://www.zarla.com/images/nike-logo-2400x2400-20220504.png?crop=1:1,smart&width=150&dpr=2"
                    alt="">
                <img src="https://www.zarla.com/images/apple-logo-2400x2400-20220512-1.png?crop=1:1,smart&width=150&dpr=2"
                    alt="">
                <img src="https://www.svgrepo.com/show/303123/bmw-logo.svg" alt="">
                <img src="https://www.officialveganshop.com/22004-large_default/kombucha-fruits-rouges-ciao-kombucha.jpg" alt="">
                <img src="https://www.zarla.com/images/nike-logo-2400x2400-20220504.png?crop=1:1,smart&width=150&dpr=2"
                    alt="">
                <img src="https://www.zarla.com/images/apple-logo-2400x2400-20220512-1.png?crop=1:1,smart&width=150&dpr=2"
                    alt="">
                <img src="https://www.svgrepo.com/show/303123/bmw-logo.svg" alt="">
                <img src="https://www.officialveganshop.com/22004-large_default/kombucha-fruits-rouges-ciao-kombucha.jpg" alt="">
            </div>
        </div>
    </section>
    <footer>
        <img src="/img/footer.jpg" alt="footer image">
        <ul>
            <li><a href="">A propos</a></li>
            <li><a href="">Médias</a></li>
            <li><a href="">CGV</a></li>
            <li><a href="">Contact</a></li>
            <li><a href="">Mentions légales</a></li>
            <li><a href="">Politique de confidentialité</a></li>
        </ul>
    </footer>
</body>
</html>